In [17]:
#libraries

import pandas as pd
import networkx as nx
import json
from networkx.readwrite import json_graph

In [4]:
leapClean = pd.read_csv('data/processed/leapfrog-clean.csv', index_col=False)

leapClean.head()

,class,degree,degreeDesc,classMajor,classNum,degreeMajor,degreeType,degreeMajorRead,degreeFocus
0,CLAS 1210,CLAS-AB,Classics - AB,CLAS,1210,CLAS,BA,Classics,NaN
1,CLAS 1220,CLAS-AB,Classics - AB,CLAS,1220,CLAS,BA,Classics,NaN
2,CLAS 1310,CLAS-AB,Classics - AB,CLAS,1310,CLAS,BA,Classics,NaN
3,CLAS 1320,CLAS-AB,Classics - AB,CLAS,1320,CLAS,BA,Classics,NaN
4,HIST 1201B,CLAS-AB,Classics - AB,HIST,1201B,CLAS,BA,Classics,NaN

In [34]:
# networkx x ish
G = nx.DiGraph()
 
# Read csv for nodes and edges using pandas:
#leapCLean
 
# Dataframe to list:
# add class and degree major
# what degrees take this class?
G.add_nodes_from(leapClean['class'].unique())
G.add_nodes_from(leapClean['degreeMajor'].unique())

G.add_edges_from([tuple(x) for x in leapClean[['class', 'degreeMajor']].to_records(index=False)])

In [35]:
#j = json_graph.node_link_data(G, directed=True)
j = json_graph.node_link_data(G, 
              attrs={'id':'name', 'source':'source', 'target':'target'})
js = json.dumps(j, ensure_ascii=False, indent=2)
with open('data/processed/graph.json', 'w') as file:
    file.write(js)